@font-face {
  font-family: "Sharp-Sans";
  src: url("./assets/SharpSans/Sharp-Sans-No1-Bold.woff");
  src: url("./assets/SharpSans/Sharp-Sans-No1-Extrabold.woff");
  src: url("./assets/SharpSans/Sharp-Sans-No1-Light.woff");
  src: url("./assets/SharpSans/Sharp-Sans-No1-Medium.woff");
}

.App {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  text-align: center;
}

